@page
@using sitconnect.Pages.Account
@model sitconnect.Pages.Account.ConfirmEmailModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "SITConnect — Email Confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>@Model.StatusMessage</p>